{
  "sourceMaps": true,
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es"
    }]
  ]
}
